@model IEnumerable<ProIntegracao.Data.Entidade.Configuracao>
<table class="table table-hover dt-responsive nowrap" cellspacing="0" id="configuracao">
    <thead>
        <tr>
            <th>NOME</th>
            <th>DESCRIÇÃO</th>
            <th>VALOR</th>
            <th class="col-sm-1 text-center">ATIVO</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var ico = (item.DtExclusao == null) ? "fa fa-check" : "fa fa-times";

            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
                <td>@Html.DisplayFor(modelItem => item.Valor)</td>
                <td class="text-center"><i class="@ico"></i></td>
                <td>
                    <a href="javascript:void(0);" onclick="EditarConfiguracao(@item.Id);" title="Editar registro">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    |
                    <a href="javascript:void(0);" onclick="AbrirModalExcluir(@item.Id, 'Configuracao');" title="Excluir registro">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>