@model ProIntegracao.UI.ViewModel.SimularErroViewModel

<!--HIDENN-->

@Html.HiddenFor(m=>m.Id)
@Html.HiddenFor(m => m.DtCadastro)

<!-- CPF -->
<div class="form-group">
    @Html.LabelFor(model => model.Cpf, new { @class = "control-label col-md-2 " })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.Cpf, new { @class = "form-control width250 cpf" })
    </div>
</div>

<!-- TIPO ERRO -->
<div class="form-group">
    <label for="IdMenu" class="control-label col-md-2">Tipo Erro :</label>
    <div class="col-md-10">
        @Html.DropDownListFor(m => m.IdTipoErro, new SelectList(Model.ListaTipoErro, "Value", "Text", Model.IdTipoErro), new { @class = "form-control width:350" })
    </div>
</div>

       
<!-- SUBMIT -->
<div class="form-group">
    <div class="col-md-offset-6 col-md-10">
        <a href="#" id="salvarSimularErro" class="btn btn-info btn-lg" onclick="SalvarSimularErro();"><span class="glyphicon glyphicon-floppy-disk"></span> Salvar</a>
        <a href="#" id="cancelarSimularErro" data-dismiss="modal" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-arrow-left"></span> Cancelar</a>
    </div>
</div>



