@section style{
    <link href="@Url.Content("~/Content/jquey-ui/jquery-ui.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/aluno.css")" rel="stylesheet" />
}

@section scripts{
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")"></script>
    <script src="@Url.Content("~/Scripts/aluno.js")"></script>
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Home")">Home</a></li>
    <li><a href="@Url.Action("Index","Aluno")">Aluno</a></li>
    <li><a href="#">Consulta</a></li>
</ol>

<fieldset>
    <legend>@ViewBag.Title</legend>
    <!-- PESQUISA -->
    <div class="form-inline well">
        <!--PAGINA-->
        <label for="busca">CPF :</label>
        <input name="cpf" id="cpf" type="text" class="form-control width400 cpf"/>
        
        <a href="#" id="buscaAluno" name="buscaAluno" title="Buscar Aluno" class="btn btn-info btn-md col-sm-offset-5"><i class="fa fa-search"></i> Buscar</a>
        <a href="#" id="limparAluno" name="limparAluno" title="Limpar Aluno" class="btn btn-danger btn-md"><i class="fa fa-trash"></i> Limpar</a>
    </div>

    <!--Nova Matrícula-->
    <a href="#" class="btn btn-info btn-md spacebutton" onclick="NovoAluno();"><i class="fa fa-user"></i> Novo Aluno </a>
    
    <!--Partial View Lista de Paginas -->
    <div id="ListarAluno"></div>

</fieldset>