@model ProIntegracao.UI.ViewModel.SituacaoLogSimuladorViewModel

@{Layout = "~/Views/Shared/_LayoutFluid.cshtml";}

@section style{
    <link href="@Url.Content("~/Content/jquey-ui/jquery-ui.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/situacaologsimulador.css")" rel="stylesheet" />
}
@section scripts{
    <script src="@Url.Content("~/Scripts/situacaologsimulador.js")"></script>
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Home")">Home</a></li>
    <li><a href="@Url.Action("Index","SituacaoLogSimulador")">Situação Log Simulador</a></li>
    <li><a href="#">Consulta</a></li>
</ol>

<fieldset>
    <legend>@ViewBag.Title</legend>
    <!-- PESQUISA -->
    <div class="form-horizontal well well-lg">
        <div class="form-group">

            <div class="col-sm-2">
                <label for="busca">CPF :</label>
                <input name="cpf" id="cpf" type="text" class="form-control cpf" />
            </div>
            
            <div class="col-sm-2">
                <label for="busca">PSA :</label>
                <input name="psa" id="psa" type="text" class="form-control" />
            </div>

            <div class="col-sm-2">
                <label for="psa">Ação :</label>
                @Html.EnumDropDownListFor(model => model.Acoes, "--", new { @class="form-control"})
            </div>

            <div class="col-sm-2">
                <label for="dtInicio">Data Início :</label>
                <input name="dtInicio" id="dtInicio" type="text" class="form-control datepicker data" />
            </div>
            <div class="col-sm-2">
                <label for="dtFim">Data Fim :</label>
                <input name="dtFim" id="dtFim" type="text" class="form-control datepicker data" />
            </div>
            <div class="col-sm-offset-10 form-inline" style="margin-top:22px!important;">
                <a href="#" id="buscaSituacaoAula" name="buscaSituacaoAula" title="Buscar Situação Aula" class="btn btn-info btn-md"><i class="fa fa-search"></i> Buscar</a>
                <a href="#" id="limpaSituacaoAula" name="limpaSituacaoAula" title="Limpar Pesquisa" class="btn btn-danger btn-md"><i class="fa fa-trash"></i> Limpar</a>
            </div>
        </div>
    </div>

    <!--Lista Situacao Aula-->
    <div id="situacaologsimulador"></div>

</fieldset>

<!--Modal para Detalhes de XML-->
<div class="modal modal-wide fade" tabindex="-2" role="dialog" id="xml">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-number="1" onclick="FecharModalXML();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Detalhe XML</h4>
            </div>
            <div class="modal-body">
                <div class="col-sm-6" id="XmlBodyEntrada">
                </div>
                <div class="col-sm-6" id="XmlBodySaida">
                    <br />
                    <br />
                    <h4>XML Saída</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" onclick="FecharModalXML();">Fechar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->