@model IEnumerable<ProIntegracao.Data.Entidade.Pagina>
@section style{
  <link href="~/Content/home.css" rel="stylesheet" />  
}
@*<fieldset>
    @{
        <legend>@ViewBag.Title</legend>
    }

    @{
        var count = 1;
    }

    @foreach (var item in Model)
    {
        var ico = "fa fa-asterisk";
        var url = (item.Url.ToUpper().Contains("HOME")) ? "/Home" : item.Url;


        if (!string.IsNullOrEmpty(item.Icone))
        {
            ico = item.Icone;
        }

        if (count == 1)
        {
            @:<div class="row">
    }

        @:<div class="col-sm-4"><div class="well"><a href="@url"><span class="@ico fa-4x"></span><span class="input-lg">@item.Nome</span></a></div></div>




        if (count < 3)
        {
            count++;
        }
        else {
            @:</div>
            count = 1;
        }
    }
    </div>
</fieldset>*@


<div class="col-lg-12 text-center">

    @{ var count = 1;}

    @{
        var main = "mainMenu";

        if (Model.First().Menu == null)
        {
            main = "mainMenu";
        }
    }


    <div id="@main">
        <ul>
            <li>
                @foreach (var item in Model)
                {
                    var classe = "big-cubes";
                    var ico = "fa fa-th";
                    var color = " bg-color-blue";

                    if (!string.IsNullOrEmpty(item.Icone))
                    {
                        ico = item.Icone;
                    }

                    if (ico.Contains("arrow"))
                    {
                        color = " bg-color-purple";
                    }

                    classe += color;

                    var url = item.Url;



                    if (count == 1)
                    {
                        @:<div>
                        }

                    @:<a href="@url" class="jarvismetro-tile @classe"> <span class="iconbox"> <i class="@ico fa-4x"></i> <span>@item.Nome</span> </span> </a>




                    if (count < 5)
                    {
                        count++;
                    }
                    else {
                        @:</div>
                        
                        count = 1;
                    }
                }
            </li>
        </ul>
    </div>
</div>



