<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="x-ua-compatible" content="IE=9" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <title>@ViewBag.Title - PROINTEGRAÇÃO</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/DataTable/buttons.dataTables.css" rel="stylesheet" />
    <link href="~/Content/Choosen/chosen.css"               rel="stylesheet" />
    <link href="~/Content/font-awesome.css"                 rel="stylesheet" />

    <style>
        .menuAdm li a{color:#ffffff !important;}
        .menuAdm li a:hover{color:#E88F41 !important;background-color:transparent;}
        .menuAdm .dropdown-menu {background-color: #10305D;}
        .menuAdm .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {background-color: #10305D;}
    </style>

    @RenderSection("style", false)

</head>
<body>
    <div class="row" style="background-image: url('../../Content/images/bg_5.png'); background-repeat: no-repeat;">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-8">
            @{Html.RenderAction("ListarMenuAdm", "Menu"); }
        </div>
    </div>
    
    <div id="wrap">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
               <a href="/Home/Index"><img class="img-responsive" src="~/img/logo.png" alt=""></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                @{Html.RenderAction("ListarMenu", "Menu"); }
            </div><!--/.nav-collapse -->
        </nav>
        <!-- Begin page content -->
        <div class="container">
            <div id="message"></div>
            <div class="container" id="loading" style="display:none;">
                <div class="row">
                    <h3>Processando......Aguarde</h3>
                    <div class="progress progress-striped active page-progress-bar">
                        <div class="progress-bar" style="width: 100%;"></div>
                    </div>
                </div>
            </div>
            @RenderBody()
        </div>
        <div id="push"></div>
    </div>

    <div id="footer">
        <div class="container">
            <p class="muted credit">&copy; @DateTime.Now.Year - PROINTEGRAÇÃO</p>
        </div>
    </div>

    <!-- MODAL DIALOG EXCLUIR -->
    <div class="modal fade" id="myModal" tabindex="10" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="ModalTitle"></h4>
                </div>

                <div class="modal-message-delete">
                    <div id="messageModalDelete"></div>
                </div>

                <div class="modal-body" id="ModalContent">
                    <h3>Deseja excluir o registro?</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btnExcluir">Excluir</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL DIALOG -->
    <div class="modal fade" id="myModalContent"  role="dialog" aria-labelledby="myModalLabel" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="ModalTitleContent"></h4>
                </div>
                <div class="modal-message">
                    <div id="messageModal"></div>
                </div>
                <div class="modal-body" id="ModalBodyContent">
                </div>
            </div>
        </div>
    </div>

    <div id="tallModal" class="modal modal-wide fade" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body" id="ModalBodyFont">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- MODAL ESTADOS -->
    <div class="modal fade" id="myModalEstados" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="ModalTitleContent">Estado</h4>
                </div>
                <div class="modal-body" id="ModalBodyContent">
                    <form class="form-inline" id="formEstado">
                        <div class="form-group">
                            @{Html.RenderAction("ListarEstados", "Estado");}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @Html.Hidden("IdEstadoConsulta")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/methods_pt.js"></script>
    <script src="~/Scripts/DataTable/jquery.dataTables.js"></script>
    @*<script src="~/Scripts/DataTable/buttons.flash.js"></script>*@
    <script src="~/Scripts/DataTable/buttons.html5.js"></script>
    <script src="~/Scripts/DataTable/buttons.print.js"></script>
    <script src="~/Scripts/DataTable/dataTables.buttons.js"></script>
    <script src="~/Scripts/DataTable/jszip.js"></script>
    <script src="~/Scripts/DataTable/pdfmake.js"></script>
    <script src="~/Scripts/DataTable/vfs_fonts.js"></script>
    <script src="~/Scripts/Choosen/chosen.jquery.js"></script>
    <script src="~/Scripts/waitmodal.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>